repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-illegal-windows-names
    - id: check-json
    - id: check-merge-conflict
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: end-of-file-fixer
    - id: fix-byte-order-marker
    - id: forbid-submodules
    - id: mixed-line-ending
    - id: check-yaml
    - id: trailing-whitespace
